<div class="wrapper">
  <ed-nav></ed-nav>
  <h2 style="color: white;">Infinite Slider</h2>
  <ed-hero-slider [isInfinite]="true"></ed-hero-slider>
  <h2 style="color: white;">Not-Infinite Slider</h2>
  <ed-hero-slider [isInfinite]="false"></ed-hero-slider>

  <router-outlet></router-outlet>
</div>

<!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="first-name">First Name</label>
  <input type="text" ngControl="firstName">
  <label for="last-name">Last Name</label>
  <input type="text" ngControl="lastName">
  <button type="submit">Submit</button>
  <button (click)="onGetUser()">Get User</button>
</form>
<div class="container" id="response">Response: {{response}}</div>
<div class="container" id="getResponse">Get Response: {{getResponse}}</div> -->
<ed-footer></ed-footer>