<div class="carousel">
  <ul class="slides">
    <li>
      <h2>Bl</h2>
      <img src="http://placekitten.com/1200/440" alt=""/>
    </li>
    <li>
      <h2>Generation Gap</h2>
      <img src="http://placekitten.com/1200/440" alt=""/>
    </li>
    <li>
      <h2>Potter Me</h2>
      <img src="http://placekitten.com/1200/440" alt=""/>
    </li>

    <li>
      <h2>Pre-School Kids</h2>
      <img src="http://placekitten.com/1200/440" alt=""/>
    </li>
    <li>
      <h2>Young Peter Cech</h2>
      <img src="http://placekitten.com/1200/440" alt=""/>
    </li>
  </ul>
</div>
