.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.slides {
  list-style: none;
  margin: 0 auto;
  position: relative;
  width: 300%;
  /* Number of panes * 100% */
  overflow: hidden;
  /* Clear floats */
  /* Slide effect Animations*/
  -moz-animation: carousel 40s infinite;
  -webkit-animation: carousel 40s infinite;
  animation: carousel 40s infinite;
}

ul {
  padding: 0;
}

.slides > li {
  position: relative;
  float: left;
  width: 5%;
  /* 100 / number of panes */
}

.prev-chevron {
  float: left;
  position: absolute;
  top: 40%;
  left: 0;
  color: #ccc;
}

.prev-chevron:hover {
  color: white;
}

.next-chevron {
  float: right;
  position: absolute;
  top: 40%;
  left: 99%;
  color: #ccc;
}

.next-chevron:hover {
  color: white;
}

.carousel img {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.carousel h2 {
  margin-bottom: 0;
  font-size: 1em;
  padding: 1.5em 0.5em 1.5em 0.5em;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}

@keyframes carousel {
  // 0% {
  //   left: 0%;
  // }
  // 11% {
  //   left: -0%;
  // }
  // 12.5% {
  //   left: -100%;
  // }
  // 23.5% {
  //   left: -100%;
  // }
  // 25% {
  //   left: -200%;
  // }
  // 36% {
  //   left: -200%;
  // }
  // 37.5% {
  //   left: -300%;
  // }
  // 48.5% {
  //   left: -300%;
  // }
  // 50% {
  //   left: -400%;
  // }
  // 61% {
  //   left: -400%;
  // }
  // 62.5% {
  //   left: -300%;
  // }
  // 73.5% {
  //   left: -300%;
  // }
  // 75% {
  //   left: -200%;
  // }
  // 86% {
  //   left: -200%;
  // }
  // 87.5% {
  //   left: -100%;
  // }
  // 98.5% {
  //   left: -100%;
  // }
  // 100% {
  //   left: 0%;
  // }
}