<div class="form-container">
  <form>
    <h2>Login</h2>
    <h3>username: {{emailField}}</h3>
    <div class="input-group col-md-12">
      <span class="input-group-addon" id="basic-addon1"><span class="icon-mail4"></span></span>
      <input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1" #email (keyup)="onKeyEmail(email.value)" >
    </div>
    <div class="input-group col-md-12">
      <span class="input-group-addon" id="basic-addon2"><span class="icon-key"></span></span>
      <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2" #password (keyup)="onKeyPassword(password.value)">
    </div>
    <a class="text-center col-md-12 forgot-password">Forgot Password</a>
    <div class="input-group col-md-12 text-center">
      <label for="remember-me">Remember me </label>
      <input type="checkbox" id="remember-me"/>
    </div>
    <button *ngIf="!loggedIn" class="btn create-account center-block col-md-12" (click)="createAccount()">Create Account</button>    
    <button *ngIf="!loggedIn" class="btn submit-button center-block col-md-12" (click)="emailLogin()">Submit</button>    
    <button *ngIf="!loggedIn" class="btn facebook-login center-block col-md-12" (click)="facebookLogin()"><span class="icon-facebook"></span> Connect with Facebook</button>
    <button *ngIf="!loggedIn" class="btn twitter-login center-block col-md-12" (click)="whoUser()"><span class="icon-twitter"></span> Connect with Twitter</button>
    
    <button *ngIf="!loggedIn" class="google-login btn center-block col-md-12" (click)="googleLogin()"><span class="icon-google-plus2" ></span> Connect with Google</button>
    <button class="logout btn center-block col-md-12" (click)="logout()"><span class="icon-exit"></span> Logout</button>
  </form>

</div>
