#att-movies {
  width: 824px;
  margin-top: -130px;
  margin-left: -73px;
  opacity: 0.8;
}

.vertical-align-center {
  /* To center vertically */
  top: 5%;
  margin-left: -32%;
  overflow-y: hidden;
}

.movie-modal {
  background: transparent;
}

.no-border-bottom {
  border-bottom: none;
}

.no-border {
  border: none;
}

.no-shadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}