<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['']"><img src="http://vignette2.wikia.nocookie.net/logopedia/images/8/8f/AT%26T_Facebook_Profile_Picture_(2016-present).svg/revision/latest?cb=20160119190326"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/dashboard']">Home</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/movies']">Movies</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/tv']">TV</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/streaming']">Streaming</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/sports']">Sports</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/music']">Music</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <i class="fa fa-search"></i>
        <input type="search" placeholder="Search">
        <a [routerLink]="['/login']"><i class="fa fa-user"></i></a>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>
