.navbar {
  border: 0;
  height: 49px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.navbar-brand {
  padding: 0;
  margin-left: 10px;
}

img {
  height: 100%;
}

.fa {
  color: #666;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

.navbar {
  margin-bottom: 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(54, 54, 54, 0.6);
  -moz-box-shadow: 0px 3px 5px 0px rgba(54, 54, 54, 0.6);
  box-shadow: 0px 3px 5px 0px rgba(54, 54, 54, 0.6);
  border-radius: 0;
  z-index: 9999;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed no-repeat 9px center;
  border: solid 1px #ccc;
  margin: 5px 10px 5px 5px;
  padding: 10px 10px 9px 14px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 150px;
  background-color: #fff;
  border-color: cornflowerblue;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}

.box {
  background: #169FDC;
  width: 60px;
  height: 100%;
}

#att-logo {
  position: relative;
  width: 65%;
  margin: 0 auto;
  padding: 5px 0;
  left: 14%;
}

.att-1 {
  fill: transparent;
  stroke-dasharray: 2000;
  opacity: 0;
  stroke-color: #fff;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.5s forwards;
  -o-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.5s forwards;
  -moz-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.5s forwards;
  animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.5s forwards;
}

.att-2 {
  fill: transparent;
  stroke-dasharray: 2000;
  opacity: 0;
  stroke-color: #fff;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.75s forwards;
  -o-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.75s forwards;
  -moz-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.75s forwards;
  animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.75s forwards;
}

.att-3 {
  fill: transparent;
  stroke-dasharray: 2000;
  opacity: 0;
  stroke-color: #fff;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.95s forwards;
  -o-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.95s forwards;
  -moz-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.95s forwards;
  animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 0.95s forwards;
}

.att-4 {
  fill: transparent;
  stroke-dasharray: 2000;
  opacity: 0;
  stroke-color: #fff;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.15s forwards;
  -o-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.15s forwards;
  -moz-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.15s forwards;
  animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.15s forwards;
}

.att-5 {
  fill: transparent;
  stroke-dasharray: 2000;
  opacity: 0;
  stroke-color: #fff;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.35s forwards;
  -o-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.35s forwards;
  -moz-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.35s forwards;
  animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.35s forwards;
}

.att-6 {
  fill: transparent;
  stroke-dasharray: 2000;
  opacity: 0;
  stroke-color: #fff;
  stroke-dashoffset: 0;
  -webkit-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.5s forwards;
  -o-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.5s forwards;
  -moz-animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.5s forwards;
  animation: dash 2s cubic-bezier(0.56, -0.07, 0.31, 0.99) 1.5s forwards;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 2000;
    stroke-color: #fff;
    stroke-width: 1px;
  }
  20% {
    stroke-dashoffset: 2000;
    fill: transparent;
    stroke: #FFF;
    opacity: 1;
  }
  50% {
    stroke: #FFF;
  }
  70% {
    stroke-dashoffset: 0;
  }
  72% {
    fill: #169FDC;
  }
  80% {
    stroke: #FFF;
  }
  100% {
    fill: #FFF;
    opacity: 1;
  }
}