.navbar {
  border: 0;
  height: 49px;
}

.navbar-brand {
  padding: 0;
  margin-left: 10px;
}

img {
  height: 100%;
}

.fa {
  color: #666;
}

input {
  outline: none;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}

.navbar {
  margin-bottom: 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(54, 54, 54, 0.6);
  -moz-box-shadow: 0px 3px 5px 0px rgba(54, 54, 54, 0.6);
  box-shadow: 0px 3px 5px 0px rgba(54, 54, 54, 0.6);
  border-radius: 0;
  z-index: 9999;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type=search] {
  background: #ededed no-repeat 9px center;
  border: solid 1px #ccc;
  margin: 5px 10px 5px 5px;
  padding: 10px 10px 9px 14px;
  width: 55px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

input[type=search]:focus {
  width: 150px;
  background-color: #fff;
  border-color: cornflowerblue;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}

input::-webkit-input-placeholder {
  color: #999;
}