.wrap {
  perspective: 2000px;
  perspective-origin: 50% 114px;
}

.poster-carousel {
  overflow: hidden;
  height: 400px;
  box-shadow: inset 10px 0px 20px 5px rgba(0, 0, 0, 0.6);
  padding-left: 42px;
  // padding-top: 30px;
  width: 200%;
  white-space: nowrap;
  background: #333;
}

.prev-chevron {
  float: left;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: middle;
  z-index: 9999999;
  height: 100%;
  color: #ccc;
  opacity: 0.7;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.prev-chevron:hover {
  color: white;
  opacity: 0.9;
}

.slide {
  position: relative;
  cursor: pointer;
  display: inline-block;
  // box-shadow: inset 10px 0px 20px 5px rgba(0, 0, 0, 0.6);
  height: 100%;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  /* 100 / number of panes */
}

.next-chevron {
  float: right;
  position: absolute;
  padding: 0 0.3em;
  height: 100%;
  right: 0;
  top: 50%;
  z-index: 999999999;
  margin: auto 1px;
  vertical-align: middle;
  color: #ccc;
  opacity: 0.7;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.poster-carousel h2 {
  color: white;
  font-size: 14px;
  position: relative;
}

.next-chevron:hover {
  color: white;
  opacity: 0.9;
}